body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navBar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  text-align: center;
}
button{
  cursor: pointer;
}
.btnNav {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  background-color: #af65c5; 
  transition: background-color 0.3s ease; 
}

.btnNav:hover {
  background-color: #d599e7;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;

}

.forma{

 margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 25px;
  width: 600px;
  height: 700px;
  background-color: #f5f784;
  border-radius: 10px;


}
.formaSpan{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  padding: 5px;
  color:#af65c5;
}

.formaSpan input{
  width:100%;
  height:25px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 15px;
  
}

.formaSpan select{
    width:300px;
  height:25px;
  margin-top: 5px;
  border-radius: 10px;
  font-size: 15px;
  
}
.formaSpan p{
       display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  background-color: #af65c5; 
  transition: background-color 0.3s ease; 
}
.formaSpan p:hover{
 background-color: #d599e7;
}
.formaSpan button{
  border-radius: 10px;
  
}


label {
  font-size: 17px !important;
}